@import "theme-forgejo-light.css";

:root {
  --disroot-main: #50162D;
  --disroot-main-light1: #611332;
  --disroot-main-light2: #a43a65;
  --disroot-main-dark1: #201c1c;
  --disroot-secondary: #8EB726;
  --disroot-secondary-light1: #afcf60;
  --disroot-secondary-light2: #cde78c;
  --disroot-secondary-dark1: #71911E;
  --disroot-tertiary: #1F5C60;
  
  --color-primary: var(--disroot-secondary); /*#c2410c;*/
  --color-primary-dark-2: var(--disroot-secondary-dark1);/*#9a3412;*/
  --color-primary-light-1: var(--disroot-secondary-light1);/*#ea580c;*/
  --color-green: var(--disroot-main); /*#15803d;*/
  --color-grey: var(--disroot-main); /*#4b5563;*/
  --color-green-light: var(--disroot-main-light1);/*#16a34a;*/
  --color-text-light: var(--zinc-400); /*var(--zinc-700);*/
  --color-footer: var(--disroot-main); /*var(--zinc-100);*/
  --color-nav-bg: var(--disroot-main); /* var(--zinc-100);*/
}


/* Removes this for Disroot style
.ui.basic.primary.button.item {
  background-color: var(--color-active) !important;
  color: var(--color-text) !important;
  box-shadow: none !important;
}
*/

/* Disroot Modifications */
.ui.basic.labels .primary.label,
.ui.ui.ui.basic.primary.label {
  background-color: var(--disroot-main) !important; /* addition */
  color: initial !important; /* color: var(--color-text-dark) !important;*/
}


/* Disroot additions */

/* Top bar */
#navbar > .menu > .item {
	color: var(--zinc-200);
}

#navbar > .menu > .item:hover {
	color: var(--zinc-50);
  background: var(--disroot-main-light1);
}

#navbar > .menu > .active.item {
	color: var(--zinc-50);
  background: var(--disroot-main-light2);
}

#navbar > .menu > .right .item:hover {
	color: var(--zinc-50);
  background: var(--disroot-main-light1);
}

#navbar > .menu > .righ .active.item {
	color: var(--zinc-50);
  background: var(--disroot-main-light2);
}

/* Dashboard navbar (for Organizations)  */
.dashboard.feeds .right.stackable.menu > .item.active, .dashboard.issues .right.stackable.menu > .item.active {
	color: var(--disroot-main-light2);
}

/* Footer */
.page-footer .left-links {
	color: white;
}

